Repository Ahoo-Wang/fetcher, pull requests merged in 2025-09, with the labels that each got.

#212 test(wow): organize cart related test cases
  integration-test/src/wow/cart/cartClientOptions.ts
  integration-test/src/wow/cart/cartCommandClient.ts
  integration-test/src/wow/cart/cartEventStreamQueryClient.ts
  integration-test/src/wow/cart/cartSnapshotQueryClient.ts
  integration-test/src/wow/cart/index.ts
  integration-test/src/wow/exampleFetcher.ts
  integration-test/src/wow/index.ts
  integration-test/test/wow/cart/cartCommandClient.test.ts
  integration-test/test/wow/cart/cartEventStreamQueryClient.test.ts
  integration-test/test/wow/cart/cartSnapshotQueryClient.test.ts
Labels: documentation, enhancement

#217 refactor(wow): add type parameter for partial resource type
  packages/wow/src/command/commandClient.ts
  packages/wow/src/query/event/eventStreamQueryClient.ts
  packages/wow/src/query/queryApi.ts
  packages/wow/src/query/snapshot/snapshotQueryApi.ts
  packages/wow/src/query/snapshot/snapshotQueryClient.ts
Labels: enhancement

#220 feat(fetcher): implement URL template resolver
  packages/fetcher/src/index.ts
  packages/fetcher/src/urlBuilder.ts
  packages/fetcher/src/urls.ts
  packages/fetcher/test/urlBuilder.test.ts
  packages/fetcher/test/urls.test.ts
Labels: enhancement

#223 build(vite): remove bundle analyzer from vite configurations
  packages/cosec/vite.config.ts
  packages/decorator/vite.config.ts
  packages/eventstream/vite.config.ts
  packages/fetcher/vite.config.ts
  packages/wow/vite.config.ts
Labels: enhancement

#227 feat(fetcher): add ensureRequestHeaders method to FetchExchange
  packages/fetcher/src/fetchExchange.ts
  packages/fetcher/test/fetchExchange.test.ts
Labels: enhancement

#234 feat(query): add listQuery factory function and update related tests
  packages/wow/src/query/queryable.ts
  packages/wow/test/query/queryable.test.ts
Labels: enhancement

#236 refactor(query): improve projection function signature and documentation
  packages/wow/src/query/projection.ts
  packages/wow/test/query/projection.test.ts
Labels: enhancement

#247 feat(fetcher): improve timeout handling and support existing signals
  packages/fetcher/src/timeout.ts
  packages/fetcher/test/timeout.test.ts
Labels: enhancement

#248 feat(fetcher): add support for custom AbortController in FetchRequest
  packages/fetcher/src/fetchRequest.ts
  packages/fetcher/src/timeout.ts
Labels: enhancement

#246 feat(fetcher): implement ResultExtractor and related tests
  packages/fetcher/src/fetcher.ts
  packages/fetcher/src/index.ts
  packages/fetcher/src/resultExtractor.ts
  packages/fetcher/test/fetcher.test.ts
  packages/fetcher/test/resultExtractor.test.ts
Labels: enhancement

#251 refactor(wow): replace ResultExtractors with JsonEventStreamResultExtractor
  packages/wow/package.json
  packages/wow/src/command/commandClient.ts
  packages/wow/src/query/event/eventStreamQueryClient.ts
  packages/wow/src/query/queryApi.ts
  packages/wow/src/query/snapshot/snapshotQueryClient.ts
  pnpm-lock.yaml
Labels: enhancement

#252 fix(fetcher): merge abortController in request merge
  packages/fetcher/src/mergeRequest.ts
Labels: enhancement

#263 feat(wow): allow empty condition in OR condition Creators
  packages/wow/src/query/condition.ts
  packages/wow/test/query/condition.test.ts
Labels: enhancement

#265 refactor(query): simplify isValidateCondition function
  packages/wow/src/query/condition.ts
Labels: enhancement

#266 refactor(cosec): implement token refresh locking mechanism
  packages/cosec/src/cosecResponseInterceptor.ts
  packages/cosec/test/cosecResponseInterceptor.test.ts
Labels: enhancement

#268 fix(cosec): use interceptor exchange method for retrying requests
  packages/cosec/src/cosecResponseInterceptor.ts
  packages/cosec/test/cosecResponseInterceptor.test.ts
Labels: enhancement

#276 refactor(storage): change StorageListener type to use StorageEventInit
  packages/cosec/src/storage/browserListenableStorage.ts
  packages/cosec/src/storage/inMemoryListenableStorage.ts
  packages/cosec/src/storage/listenableStorage.ts
Labels: enhancement

#277 refactor(storage): replace InMemoryStorage with InMemoryListenableStorage
  packages/cosec/src/deviceIdStorage.ts
  packages/cosec/src/inMemoryStorage.ts
  packages/cosec/src/index.ts
  packages/cosec/src/tokenStorage.ts
  packages/cosec/test/cosecRequestInterceptor.test.ts
  packages/cosec/test/cosecResponseInterceptor.test.ts
  packages/cosec/test/deviceIdStorage.test.ts
  packages/cosec/test/inMemoryStorage.test.ts
  packages/cosec/test/tokenStorage.test.ts
Labels: enhancement

#280 refactor(deviceIdStorage): inherit from KeyStorage and use IdentitySerializer
  packages/cosec/src/deviceIdStorage.ts
  packages/cosec/test/deviceIdStorage.test.ts
Labels: enhancement

#282 refactor(cosec): convert isExpired, isRefreshNeeded, and isRefreshable to getters
  packages/cosec/src/jwtToken.ts
  packages/cosec/test/jwtToken.test.ts
Labels: enhancement

#283 refactor(token): implement JwtCompositeToken and update token handling
  examples/src/cosec-usage.ts
  packages/cosec/src/cosecRequestInterceptor.ts
  packages/cosec/src/cosecResponseInterceptor.ts
  packages/cosec/src/jwtToken.ts
  packages/cosec/src/tokenStorage.ts
  packages/cosec/test/cosecRequestInterceptor.test.ts
  packages/cosec/test/cosecResponseInterceptor.test.ts
  packages/cosec/test/jwtToken.test.ts
  packages/cosec/test/tokenStorage.test.ts
Labels: enhancement

#284 feat(jwt): add early expiration period for JWT tokens
  packages/cosec/src/jwtToken.ts
  packages/cosec/src/jwts.ts
  packages/cosec/test/jwtToken.test.ts
Labels: enhancement

#290 feat(fetcher): add result extractor support for HTTP methods
  packages/fetcher/src/fetcher.ts
Labels: enhancement

#291 refactor(fetcher): remove ts-expect-error directives
  packages/fetcher/src/fetcher.ts
Labels: enhancement

#293 feat(tokenRefresher): implement CoSecTokenRefresher for token refreshing
  packages/cosec/src/tokenRefresher.ts
  packages/cosec/test/tokenRefresher.test.ts
Labels: enhancement

#322 refactor(react): improve variable naming in useKeyStorage
  packages/react/src/storage/useKeyStorage.ts
Labels: enhancement

#329 feat(cosec): add documentation to AuthorizationRequestInterceptor
  packages/cosec/src/authorizationRequestInterceptor.ts
Labels: enhancement

#331 fix(fatcher): ensure proper assignment of AbortController to request
  packages/fetcher/src/timeout.ts
Labels: enhancement

#334 test: update import paths and refine test cases
  packages/cosec/test/authorizationRequestInterceptor.test.ts
  packages/eventstream/test/readableStreamAsyncIterable.test.ts
  packages/fetcher/test/fetchExchange.test.ts
  packages/fetcher/test/interceptorManager.test.ts
  packages/fetcher/test/mergeRequest.test.ts
  packages/fetcher/test/namedFetcher.test.ts
Labels: enhancement

#335 docs(cosec): update README and rename interceptors
  packages/cosec/README.md
  packages/cosec/README.zh-CN.md
Labels: documentation

#345 build(deps): update pnpm workspace dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement

#347 docs(viewer): add index.ts
  packages/viewer/src/index.ts
Labels: enhancement

#348 test(viewer): add test case for index.ts module exports
  packages/viewer/test/index.test.ts
Labels: enhancement

#361 refactor(command): add new command interfaces and compensation target type
  packages/wow/src/command/types.ts
Labels: enhancement

#363 feat(command): add BatchResult interface for batch operation results
  packages/wow/src/command/types.ts
Labels: enhancement

#364 refactor(command): add WaitSignal interface and improve type definitions
  packages/wow/src/command/commandResult.ts
  packages/wow/src/command/types.ts
  packages/wow/src/types/modeling.ts
Labels: enhancement

#371 feat(decorator): enhance parameter decorators with object expansion support
  packages/decorator/src/parameterDecorator.ts
Labels: documentation

#390 refactor(types): rename PathParams to UrlPathParams
  packages/wow/src/command/commandRequest.ts
  packages/wow/src/types/endpoints.ts
Labels: enhancement

#396 fix(command): make command request body optional
  packages/wow/src/command/commandRequest.ts
Labels: enhancement

#397 refactor(command): remove RequiredBy constraint from CommandRequest
  packages/wow/src/command/commandRequest.ts
Labels: enhancement

#408 refactor(endpoints): rename DEFAULT to NONE in ResourceAttributionPathSpec
  packages/generator/expected/compensation/execution_failed/queryClient.ts
  packages/wow/src/types/endpoints.ts
  packages/wow/test/types/endpoints.test.ts
Labels: enhancement

#410 feat(types): export endpoints types
  packages/wow/src/types/index.ts
Labels: enhancement

#411 fix(wow): update ResourceAttributionPathSpec paths to include leading slash
  packages/wow/src/types/endpoints.ts
  packages/wow/test/types/endpoints.test.ts
Labels: enhancement

#414 refactor(generator): adjust import logic and export settings
  packages/generator/src/client/queryClientGenerator.ts
  packages/generator/src/model/modelGenerator.ts
  packages/generator/src/model/modelInfo.ts
  packages/generator/src/utils/sourceFiles.ts
Labels: enhancement

#416 refactor(generator): improve code generation and CLI entry point
  packages/generator/src/cli.ts
  packages/generator/src/client/clientGenerator.ts
  packages/generator/src/client/commandClientGenerator.ts
  packages/generator/src/client/queryClientGenerator.ts
  packages/generator/src/utils/openAPIParser.ts
  packages/generator/src/utils/operations.ts
Labels: enhancement

#418 chore(deps): update dependencies to use catalog versions
  packages/generator/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement

#419 chore(generator): move ts-morph dependency to correct location
  packages/generator/package.json
Labels: enhancement

#426 feat(generator): enhance import handling and JSDoc utilities
  packages/generator/src/utils/sourceFiles.ts
  packages/generator/test/utils/sourceFiles.test.ts
Labels: enhancement

#431 chore(deps): update nanoid dependency to catalog version
  packages/cosec/package.json
  pnpm-workspace.yaml
Labels: dependencies

#435 fix(generator): resolve import path handling for ref models
  packages/generator/src/utils/sourceFiles.ts
  packages/generator/test/utils/sourceFiles.test.ts
Labels: enhancement

#436 refactor(generator): update import path resolution logic
  packages/generator/src/utils/sourceFiles.ts
  packages/generator/test/utils/sourceFiles.test.ts
Labels: enhancement

#437 feat(integration-test): add eslint config and update dependencies
  integration-test/eslint.config.js
  integration-test/package.json
  integration-test/src/cosec/cosec.ts
  integration-test/src/decorator/typicodePostService.ts
  integration-test/src/decorator/typicodeUserService.ts
  pnpm-lock.yaml
Labels: enhancement

#440 feat(generator): add detailed logging to client generation process
  packages/generator/src/client/clientGenerator.ts
  packages/generator/src/client/commandClientGenerator.ts
  packages/generator/src/client/queryClientGenerator.ts
Labels: enhancement

#441 feat(generator): enhance logging and progress tracking
  packages/generator/src/client/clientGenerator.ts
  packages/generator/src/client/commandClientGenerator.ts
  packages/generator/src/client/queryClientGenerator.ts
  packages/generator/src/model/modelGenerator.ts
  packages/generator/src/types.ts
  packages/generator/src/utils/logger.ts
  packages/generator/test-output/tsconfig.json
  packages/generator/test/model/modelGenerator.test.ts
  packages/generator/test/utils/logger.test.ts
Labels: enhancement

#443 feat(generator): add comprehensive logging to code generation process
  packages/generator/src/index.ts
Labels: enhancement

#446 feat(generator): dynamically load CLI version from package.json
  packages/generator/src/cli.ts
  packages/generator/test/cli.test.ts
Labels: enhancement

#453 feat(generator): add isEmptyObject check for command request parameter
  packages/generator/src/client/commandClientGenerator.ts
Labels: enhancement

#454 feat(generator): support optional properties in model generation
  packages/generator/src/model/modelGenerator.ts
  packages/generator/test/model/modelGenerator.test.ts
Labels: enhancement

#455 feat(generator): add splitName utility and upperSnakeCase converter
  packages/generator/src/utils/naming.ts
Labels: enhancement

#460 chore(test): increase test timeout to 15000ms
  packages/generator/package.json
Labels: enhancement

#461 chore(release): move npm publish logic to dedicated script
  .github/workflows/release.yml
  scripts/publish-npm.sh
Labels: enhancement

#462 chore(deps): update fetcher dependencies to peer dependencies
  integration-test/package.json
  package.json
  packages/cosec/package.json
  packages/decorator/package.json
  packages/eventstream/package.json
  packages/fetcher/package.json
  packages/generator/package.json
  packages/openapi/package.json
  packages/react/package.json
  packages/storage/package.json
  packages/viewer/package.json
  packages/wow/package.json
  pnpm-lock.yaml
Labels: enhancement

#465 feat(fetcher): add generic type support for request body
  packages/fetcher/src/fetchRequest.ts
Labels: enhancement

#470 fix(generator): remove redundant empty string check in naming utility
  packages/generator/src/utils/naming.ts
Labels: enhancement

#476 style(generator): reformat code structure and import orders
  packages/generator/package.json
  packages/generator/src/aggregate/aggregateResolver.ts
  packages/generator/src/aggregate/index.ts
  packages/generator/src/aggregate/utils.ts
  packages/generator/src/cli.ts
  packages/generator/src/client/apiClientGenerator.ts
  packages/generator/src/client/clientGenerator.ts
  packages/generator/src/client/commandClientGenerator.ts
  packages/generator/src/client/index.ts
  packages/generator/src/client/queryClientGenerator.ts
  packages/generator/src/client/utils.ts
  packages/generator/src/generateContext.ts
  packages/generator/src/index.ts
  packages/generator/src/model/modelGenerator.ts
  packages/generator/src/model/modelInfo.ts
  packages/generator/src/types.ts
  packages/generator/src/utils/clis.ts
  packages/generator/src/utils/index.ts
  packages/generator/src/utils/operations.ts
  packages/generator/src/utils/parsers.ts
  packages/generator/src/utils/responses.ts
  packages/generator/src/utils/sourceFiles.ts
Labels: enhancement

#480 feat(fetcher): add Blob, ArrayBuffer, and Bytes result extractors
  packages/fetcher/src/resultExtractor.ts
  packages/fetcher/test/resultExtractor.test.ts
  packages/generator/test/model/modelInfo.test.ts
Labels: enhancement

#481 refactor(client): improve return type handling in API client generator
  packages/generator/src/client/apiClientGenerator.ts
  packages/generator/src/client/decorators.ts
  packages/generator/test/client/apiClientGenerator.test.ts
Labels: enhancement

#482 test(client): improve api client generator tests
  packages/generator/test/client/apiClientGenerator.test.ts
Labels: enhancement

#485 feat(generator): add event stream support in client generators
  packages/generator/src/client/apiClientGenerator.ts
  packages/generator/src/client/commandClientGenerator.ts
  packages/generator/src/client/decorators.ts
Labels: enhancement

#492 feat(react): add request id tracking to useFetcher hook
  packages/react/src/fetcher/useFetcher.ts
Labels: enhancement

#494 feat(react): enhance useExecutePromise with generic error type
  packages/react/src/core/useExecutePromise.ts
Labels: enhancement

#496 refactor(fetcher): replace default fetcher with fetcher registrar
  packages/react/src/fetcher/useFetcher.ts
  packages/react/test/fetcher/useFetcher.test.ts
Labels: enhancement

#498 chore(deps): update typescript-eslint to v8.45.0 and typescript to v5.9.3
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

#499 fix(usePromiseState): prevent stale options reference in callbacks
  packages/react/src/core/usePromiseState.ts
Labels: enhancement
